body {
  background-color: seashell;
}

table {
  width: 100%;
}

.website-links {
  background-color: linen;
  border: 1px solid black;
  border-radius: 100px;
  color: black;
  display: inline-block;
  font-size: 1rem;
  padding: 0.5rem 1.5rem;
  text-align: center;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.block-center-aligned {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.block {
  display: block;
}

.centered {
  text-align: center;
}

.justified {
  text-align: justify;
}

.left {
  text-align: left;
}

.right {
  text-align: right;
}

.center-relative {
  position: relative;
  left: 50%;
  transform: translateX(-50%);
}

.margin {
  margin-left: 2.5%;
  margin-right: 2.5%;
}

ol,
ul {
  padding-left: 3%;
}

ol {
  list-style-type: upper-roman;
}

a {
  color: black;
}

.styled-button {
  background-color: saddlebrown;
  border: 0;
  border-radius: 10px;
  color: white;
  font-size: 1rem;
  line-height: 2.5;
  padding: 0 20px;
  text-align: center;
  text-shadow: 1px 1px 1px #000;
}

.styled-button:hover {
  background-color: peru;
}

.button {
  box-shadow: inset 2px 2px 3px rgba(255, 255, 255, 0.6),
    inset -2px -2px 3px rgba(0, 0, 0, 0.6);
}

.button:active {
  box-shadow: inset -2px -2px 3px rgba(255, 255, 255, 0.6),
    inset 2px 2px 3px rgba(0, 0, 0, 0.6);
}

a .button:hover {
  background-color: white;
}

.spaced-list :not(:first-child) {
  margin-top: 15px;
}

.credentials {
  width: 20%;
}

.credentials input {
  width: 100%;
}

.credentials .button {
  display: block;
  margin: auto;
  margin-top: 0.5rem;
  width: auto;
}
